{% extends 'base.html.twig' %}
{# setam linkurile #}
{% set part_links = {
        'Address':'address'
    }
%}
{# afisam linkurile #}
{% block submenu %}
    <ul class="nav nav-sidebar">
        {% for key,link in part_links %}

                <li><a href="{{ path(link~'_index') }}">{{ key }}</a></li>

        {% endfor %}                       
    </ul>
{% endblock %}
{# blocul body urmeaza a fi rescris in subpagini(de exmeplu in app\Resources\views\product\edit.html.twig) #}
{% block body %}{% endblock %}
