<td>
    <!-- customize as you wish -->
    {{ form_widget(form.product) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.quantity) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.salePrice) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.vatRate) }}
</td>
<td>
</td>

