<td>
    <!-- customize as you wish -->
    {{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.quantity, {'attr': {'class': 'form-control quantity'}}) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.salePrice, {'attr': {'class': 'form-control salePrice'}}) }}
</td>
<td>
    <!-- customize as you wish -->
    {{ form_widget(form.vatRate, {'attr': {'class': 'form-control vatRate'}}) }}
</td>
<td>
</td>

