{% extends 'base.html.twig' %}

{% block body %}
    <ul>
            {% for r in res %}
            <li>
                {{ r }}
            </li>
            {% endfor %}

    </ul>
        
{% endblock %}        