{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
    {% for entitie in entities %}
        <tr>
            <td>{{ entitie.id }}</td>
            <td>{{ entitie.username }}</td>
            <td>
                {% for role in entitie.roles %}
                    {{ role|replace({'ROLE_':' '}) }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}