{% extends 'partner/partner_layout.html.twig' %}
{% form_theme edit_form ':Form:fields.html.twig' %}

{% block body %}
    <h1>Address edit</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_widget(edit_form) }} 
    {{ form_end(edit_form) }}
    <div class="row top-buffer">
        <a href="{{ path('address_index') }}">Back to the list</a>
    </div>
{% endblock %}
