{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form ':Form:fields.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'class':'form-horizontal', 'role':'form' } }) }}

    {{ form_widget(form) }}

<div>
    <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
</div>
{{ form_end(form) }}
