{# app/Resources/views/default/index.html.twig #}
{% extends 'base.html.twig' %}
{% block submenu2 %}
        <li><a href="#">Toate produsele</a></li>
        <li><a href="#">Adauga Produs</a></li>
        <li><a href="#">Editeaza Produs</a></li>
        <li><a href="#">Sterge Produs</a></li>
{% endblock %}
{% block body %}
    <h3>Produse</h3>
    {#<div class="table-responsive">
        <table class="table table-hover records_list">
            <thead>
                <tr>
                    {% for val in entities[0] %}
                        <th>{{ val }}</th>
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        {% for val in entity %}
                            <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>#}
    <div class="col-sm-6 bg-danger">
         <h1>Ups, nu exista produse!</h1>
    </div>
{% endblock %}
