{% extends 'base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{# setam linkurile #}
{% set p_links = {
        'Feature name':'featurename',
        'Categories':'category',
        'Vat rates':'vatrate',
        'Unit measure':'unitmeasure',
        'Warehouses':'warehouse',
        'Product warehouse':'productwarehouse'
    }
%}
{# afisam linkurile #}
{% block submenu %}

        <ul class="nav nav-sidebar">
        {% for key,link in p_links %}

                <li><a href="{{ path(link~'_index') }}">{{ key|trans }}</a></li>

        {% endfor %}                       
        </ul>


{% endblock %}
{# blocul body urmeaza a fi rescris in subpagini(de exmeplu in app\Resources\views\product\edit.html.twig) #}
{% block body %}{% endblock %}
