{% extends 'base.html.twig' %}
{% block body %}
    {% if numbers is defined %}
        <table>
            {% for nb in numbers %}

                <tr>
                    {% for single_no in nb %}

                        <td>
                            {{ single_no }}
                        </td>
                    {% endfor %}
                </tr>

            {% endfor %}

        </table> 
    {% endif %}   

    {% if params is defined %}
        <p>{{ 'First example: '~ params }}</p>
        <p>{{ 'Second example: '~ p1 ~ ',' ~ p2 }}</p>
    {% endif %}   
{% endblock %}  